.input {
  width: 50%;
}

.inputConsole {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.smile {
  font-size: 1.5rem;
  cursor: pointer;
  pointer-events: all !important;
}

.buttons {
  display: flex;
  background-color: #228be6;
  border-radius: 50px;
}

@media screen and (max-width: 900px) {
  .input {
    width: 90vw;
  }
  .smile {
    display: none;
  }
}

.emojiBoard {
  position: absolute;
  left: 0vw;
  top: -48vh;
  pointer-events: all;
}