.navbar {
  position: absolute;
  gap: 100px;
  height: 100%;
}

.navbarShow {
  position: absolute;
  gap: 100px;
  height:100%;
}

.navbarIcon {
  font-size: 2rem;
}

.collapseButton {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar {
    width: 0;
    padding: 0;
  }
  .navbarButton {
    display: none;
  }
  .navbarShow {
    animation-name: slide;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
  }
  .navbarShow>div {
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
  }
  .collapseButton {
    display: block;
  }
}

@keyframes slide {
  from {
    width: 0;
    padding: 0;
    opacity: 0%;
  }
  to {
    width: auto;
    opacity: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}